/*import fonts from fonts.css file*/
@import url(./fonts.css);

/* css variables */
@import url(./partials/variables.css);


/* start navigation*/

/* padding to sushi image */
.header_area .main-menu .navbar .navbar-brand{ 
    padding: 0 2rem 1rem 0rem;
}

/* padding to left and right side of navbar */
.header_area .main-menu .navbar{
    padding: 3rem 5rem;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 550;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}



